* {
  font-family: sans-serif;
}
input,
button {
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

#awnserId p{
  display: flex;
  font-size: 30px;
  justify-content: center;
}

#inputId {
  display: flex;
  justify-content: center;
}

#buttonId {
  display: flex;
  justify-content: center;
}

input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: rgb(20, 160, 148);
  margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: rgb(81, 25, 212);
  color: white;
}